html,
body {
  margin: 0px;
  height: 100%;
  background-image: url('./homepage.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(15, 16, 17);
}

nav {
  max-width: 80%;
  height: 50px;
  margin: 0 auto;
  display:flex;
  align-items:center;
  background-color: rgba(42, 44, 46, 0.671);
  color: whitesmoke;
  border-bottom: 1px solid rgba(44, 43, 43, 0.74);
}

nav button {
  height: 100%;
  padding: 0 1em;
  display:flex;
  align-items:center;
  font-size:1.3em;
  background:none;
  border:none;
  color:white;
}

#content {
  
}